.place__title {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 984px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 16px;
  }
}
  