.header__logo {
  width: 176px;
  height: 52px;
  background-size: 176px 52px;
  padding: 28px 0 0 48px;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .header__logo {
    padding: 28px 0 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: 142px 42px;
    padding: 16px 0 0 16px;
  }
}