.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin: 92px 18px 24px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 984px) {
  .footer__link {
    margin: 88px 18px 24px 0;
  }
}

@media screen and (max-width: 656px) {
  .footer__link {
    margin: 88px 14px 24px 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 568px) {
  .footer__link {
    margin: 0 0 32px;
    font-size: 24px;
    line-height: 24px;
  }
}