.place__website-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.place__website-link:hover {
  opacity: .8;
}

@media screen and (max-width: 568px) {
  .place__website-link {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 16px;
  }
}