.cover {
  margin: 0 auto;
  padding: 92px 48px 0;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1124px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 984px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (max-width: 568px) {
  .cover {
    padding-top: 66px;
  }
}