.place {
  margin: 0;
  padding: 80px 148px 0;
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place {
    padding-left: 48px;
    padding-right: 48px;
    max-width: 928px;
    grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    padding: 73px 24px 0;
    max-width: 720px;
    grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 615px) {
  .place {
    padding: 71px 14px 0;
    max-width: 705px;
    grid-template-columns: minmax(325px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(325px, 1fr);
    gap: 38px 18px;
  }
}

@media screen and (max-width: 585px) {
  .place {
    padding: 73px 16px 0;
    max-width: 655px;
    grid-template-columns: minmax(320px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(320px, 1fr);
    gap: 35px 15px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    padding: 50px 0 0;
    max-width: 288px;
    grid-template-columns: 320px;
    grid-template-rows: 4fr;
    row-gap: 32px;
  }
}
 