.place__url-heading {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 568px) {
  .place__url-heading {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 16px;
  }
}